<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}App{% endblock %}</title>
    {% block style %}{% endblock %}
  </head>
  <body>
    <nav style="display: flex; justify-content: space-around" role="navigation">
      <p>Debug: User Role = {{ user.role }}</p>
      {% if user.is_authenticated %} {% if user.role == 2 %}
      <a
        href="/users/create_user"
        id="signup"
        style="border-radius: 10px; outline: none"
        >Create User</a
      >
      <a
        href="/users/view_users"
        id="signup"
        style="border-radius: 10px; outline: none"
        >show Users</a
      >
      {% endif %}
      <a href="/logout" id="logout" style="border-radius: 10px; outline: none"
        >Logout</a
      >
      <a href="/" id="home" style="border-radius: 10px; outline: none">Home</a>
      {% else %}
      <h1>Enter your login and passwords here</h1>
      {% endif %}
    </nav>
    <p>Welcome, {{ user.name }}!</p>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div id="flash-messages">
      {% for category, message in messages %} {% if category == 'error' %}
      <div class="alert">{{ message }}</div>
      {% elif category == 'info' %}
      <div class="alert_info">{{ message }}</div>

      {% else %}
      <div class="alert_success">{{ message }}</div>

      {% endif %} {% endfor %}
    </div>
    {% endif %} {% endwith %} {% block body %}{% endblock %}
    <script>
      // Wait for the DOM to load
      document.addEventListener("DOMContentLoaded", function () {
        const flashMessages = document.getElementById("flash-messages");
        if (flashMessages) {
          setTimeout(() => {
            flashMessages.style.opacity = 0; // Start fade-out
            setTimeout(() => flashMessages.remove(), 500); // Remove after fade-out
          }, 3000); // Wait 3 seconds before starting fade-out
        }
      });
    </script>
  </body>
</html>
