<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}App{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='nav.css') }}"
    />
    {% block style %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="/">RENTWAY APP²</a>
        </div>
        <input type="checkbox" id="toggle" class="toggle-checkbox" />
        <label for="toggle" class="toggle-label">
          <span class="hamburger"></span>
        </label>
        <ul class="nav-links">
          {% if user and user.is_authenticated %}
          <li><a href="/">Home</a></li>
          <li class="dropdown" aria-haspopup="true" aria-expanded="false">
            <a href="#">Contrat</a>
            <ul class="dropdown-menu">
              <li><a href="/contrats/search_contrat">Modifier champ</a></li>
              <li><a href="/seo">Ouvrir Contrat fermé</a></li>
            </ul>
          </li>
          {% if user.role == '2' %}
          <li class="dropdown" aria-haspopup="true" aria-expanded="false">
            <a href="#">Parametre</a>
            <ul class="dropdown-menu">
              <li><a href="/users/create_user">Créer utilisateur</a></li>
              <li><a href="/users/view_users">Liste utilisateur</a></li>
            </ul>
          </li>
          {% endif %}
          <li><a href="/logout" id="logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% if user and user.is_authenticated %} {% endif %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %}
    <div id="flash-messages">
      {% for category, message in messages %}
      <div class="{{ 'alert_' + category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %} {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
