{%extends "base.html"%}
 {% block style %} 
 <link rel=stylesheet type=text/css
 href="{{ url_for('static', filename='users.css') }}"> 
{%endblock %} {% block
title %} Logs Page {%endblock %} {% block body %}
<h1>Historique</h1>
<div class="table-horizontal-container">
  <table class="unfixed-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Action</th>
        <th>Details</th>
        <th>Timestamp</th>
        </tr>
    </thead>

{% if history_logs %}
{% for log in history_logs %}
<tr>
    <td>{{ log.id }}</td>
    <td>{{ log.user_id }}</td>
    <td>{{ log.action }}</td>
    <td>{{ log.details }}</td>
    <td>{{ log.timestamp }}</td>
</tr>
{% endfor %}

{% else %}
<p>No logs found.</p>
{% endif %} {% endblock %}
