{%extends "base.html"%}
 {% block style %} 
 <link rel=stylesheet type=text/css
 href="{{ url_for('static', filename='users.css') }}"> 
{%endblock %} {% block
title %} Users Page {%endblock %} {% block body %}
<h1>Users</h1>
<div class="table-horizontal-container">
  <table class="unfixed-table">
    <thead>
      <tr><th>Nom Complet</th><th>Login</th><th>Role</th>
    </thead>

{% if users %}


  {% for user in users %}
  <tr><th>{{ user.name }}</th>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>    <a href="{{ url_for('users.delete_user', user_id=user.id) }}">Delete</a>
    </td>
 
  {% endfor %}
</ul>
{% else %}
<p>No users found.</p>
{% endif %} {% endblock %}
