/* Conteneur principal */
.search_div {
    max-width: 600px;
    margin: 90px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Titre */
.title_search {
    text-align: center;
    color: #333;
}

/* Formulaire */
.form_search {
    display: flex;
    flex-direction: column;
}

/* Étiquette */
.label_search {
    margin-bottom: 8px;
    font-weight: bold;
}

/* Champ de texte */
#input_search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Bouton */
#btn_search {
    padding: 10px;
    background-color: #5cb85c; /* Couleur verte */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#btn_search:hover {
    background-color: #4cae4c; /* Couleur verte foncée au survol */
}


/* Form Container */
.form {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 900px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px auto;
  }
 
  h1 {
    grid-column: 1 / -1;
    /* Span across all three columns */
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #444;
  }
  
  /* Label Styling */
  label {
    font-weight: bold;
    color: #555;
    align-self: center;
  }
  
  /* Input Field */
  input[type="text"],
  input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  /* Button Styling */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Button Positioning */
  button[type="submit"] {
    grid-column: 2 / 3;
  }
  
  button[type="button"] {
    grid-column: 3 / 4;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    form {
      grid-template-columns: 1fr;
    }
  }
  
  
  
  
  #nm_contrat {
    color: red;
    font-size: 1rem;
  }
  .form_buttons{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 900px;

    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px auto;

  }
  .action-buttons { 
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
   
  }

  .action-buttons button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .btn-open {
    background-color: #54a478;
    color: white;
  }

  .btn-open:hover {
    background-color: #3e7f5d;
  }

  .btn-close {
    background-color: #f44336;
    color: white;
  }

  .btn-close:hover {
    background-color: #c0392b;
  }

  .btn-cancel {
    background-color: #fdd835;
    color: black;
  }

  .btn-cancel:hover {
    background-color: #fbc02d;
  }